body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px ;
}
.title-name{
    color:rgb(248, 164, 9);
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
    margin-left: 40px;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left:2%;
   
}
.half-width img{
    width: 100%;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 50px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 400;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}
.box-shadow{
    box-shadow: 5px 5px 20px rgb(179, 175, 175);
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    margin: 40px;
    padding-bottom: 100px;
    
}
h2{
    font-size: 40px;
}
.Experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 0% 70%;
    
}
#border-first{
    border-left: 5px solid;
    border-image: linear-gradient( rgb(240, 125, 109), rgb(247, 206, 24)) 1;
    border-radius: 3px;
}
#border-second{
    border-left: 5px solid transparent;
    border-image: linear-gradient( rgb(214, 74, 214), rgb(125, 41, 234)) 1;
    border-radius: 4px;
    
}
#footer{
    text-align: center;
    color: darkgrey;


}